<html>

<head>
    <title>Socket Test</title>
    <script src="https://cdn.socket.io/4.7.1/socket.io.min.js"></script>
    <script>
        var socket = io('http://localhost:8081');
        socket.on('connect', function() {
            console.log('connected');
        });
        socket.on('all', function(data) {
            console.log(data);
        });
    </script>
</head>
<body>
<button onclick="socket.emit('say', 'test-from-client-1')">Test1</button>
<button onclick="socket.emit('say', 'test-from-client-2')">Test2</button>
<button onclick="socket.emit('test-error', 'test-from-client-3')">Test Error</button>
<button onclick="socket.close()">Close</button>
</body>
</html>